/* Persona Perfil styles */
.radial-progress {
    position: relative;
    display: inline-grid;
    aspect-ratio: 1/1;
    border-radius: 9999px;
    place-items: center;
}
.radial-progress:before {
    content: "";
    position: absolute;
    inset: 0px;
    border-radius: 9999px;
    background: radial-gradient(farthest-side, currentColor 98%, transparent) top/var(--thickness) var(--thickness) no-repeat, conic-gradient(currentColor calc(var(--value) * 1%), transparent 0);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - var(--thickness)), #000 0);
    mask: radial-gradient(farthest-side, transparent calc(100% - var(--thickness)), #000 0);
}
