:host {
  display: block;
  background-color: #f8fafc;
  min-height: 100vh;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.bg-slate-150 {
  background-color: #edf2f7;
}

.border-slate-150 {
  border-color: #e2e8f0;
}
